/* 
============================================
; Title: Assignment 3.2
; Author: Danial Purselley
; Date: 03 April 2022
; Modified By: Danial Purselley
; Description: This program demonstrates 
; temperature conversion. This will style
; the html document.
;===========================================  
*/
body {
  font-family: Oswald, Verdana, Arial, san-serif;
}

/* page title styling */
h1 {
  text-align: center;
  font-weight: normal;
}

/* container adjustment*/
#container {
  padding: 10px;
}

/* styling to get the cards to the correct size and position */
#temperature-input-card {
  width: 600px;
  margin: 3% auto 0;
}
#form-results {
  width: 600px;
  margin: 3% auto 0;
}

/* adding the border radius to the convert button */
.btn {
  border-radius: 5px;
}

/* center the onClick results and proper font size */
#conversionResults {
  text-align: center;
  font-size: 28px;
}

/* move the return button to be underneath the conversion results */
#return-container {
  width: 600px;
  margin: 2% auto;
}
